.emailForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 30%;
  margin: 0 auto;
}

input,
textarea {
  margin: 10px 0px;
  justify-content: flex-end;
  border-
}
.App {
  height: 100%;

  overflow-x: hidden;
}
